@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?ytssfg');
  src:  url('../fonts/icomoon.eot?ytssfg#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?ytssfg') format('truetype'),
    url('../fonts/icomoon.woff?ytssfg') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}