html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

html,
body {
	height: 100%;
}
body{
	font-family: "Roboto", sans-serif;
	font-weight: 400;
	font-size: 15px;
	line-height: 24px;
	color: $text;
	overflow-x: hidden;
}
a {
	display: inline-block;
	text-decoration: none;
	color: $text;
}

ul,
li {
	margin: 0;
	padding: 0;
	list-style: none;
}

.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
}
.content {
	flex: 1 0 auto;
}

.container {
	max-width: 1200px;
	padding: 0 15px;
	margin: 0 auto;
}
.main {
	background-color: #f4f6f5;
}
.btn-red {
	background-color: $red;
}
.btn-green {
	background-color: $green;
}
.container-fluid {
	max-width: 100%;
	margin: 0 auto;
	padding: 0 30px;
}

@media (max-width: 720px) {
	.container-fluid {
		padding: 0 15px;
	}
}

.title{
	font-size: 36px;
	font-weight: 700;	
	line-height: 60px;
	text-align: center;
	color: $bg;
	margin-bottom: 30px;
}


.rate-star {
	display: inline-block;
	margin-right: 13px;
}

.breadcrumbs {
	&__inner {
		padding: 40px 0;
	}
	&__item {
		display: inline-block;
		position: relative;
		
		& + li {
			padding-left: 24px;
			&::before {
				content: '-';
				position: absolute;
				left: 8px;
				color: $green;
			}
		}
		a{
			color: #b0bec5;
		}
		&:last-child{
			a,
			span{
				color: $bg;
			}
		}
	}
}

