@import "vars";
@import "libs";
@import "global";

// start header
.header__top-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 91px;
  background-color: #fff;
}
.header__text {
  margin-left: auto;
  margin-right: 25px;
  span {
    color: $red;
  }
}

.header__btn {
  padding: 9px;
  font-size: 12px;
  line-height: 12px;
  width: 72px;
  text-align: center;
  color: #fff;
  border-radius: 4px;
  & + a {
    margin-left: 7px;
  }
}

.header__menu {
  background-color: $bg;
}
.menu {
  display: flex;
  align-items: center;
  height: 60px;
  &__item {
    display: inline-block;
    & + li {
      margin-left: 35px;
    }
  }
  &__link {
    font-weight: 500;
    color: #fff;
    font-size: 14px;
  }
}
// end header

// start search
.search {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 533px;
}
.search__inner {
  padding: 135px 0 100px;
  text-align: center;
  color: #fff;
  &-title {
    margin-bottom: 1px;
    h1 {
      font-size: 48px;
      font-weight: 700;
      line-height: 72px;
    }
  }
  &-text {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 45px;
    line-height: 30px;
  }
  &-form {
    max-width: 670px;
    margin: 0 auto;
    position: relative;
    input {
      width: 100%;
      display: block;
      box-shadow: 0px 1px 10px 0px rgba(124, 178, 64, 0.75);
      border-radius: 4px;
      height: 56px;
      border: none;
      font-size: 14px;
      font-weight: 500;
      padding-left: 25px;
      padding-right: 60px;
      &::placeholder {
        font-size: 14px;
        font-weight: 500;
        color: #90a4ae;
      }
    }
    button {
      border: none;
      position: absolute;
      background-color: transparent;
      right: 20px;
      top: 16px;
      z-index: 1;
      outline: none;
    }
  }
}
// end search

// start products
.products {
  padding: 110px 0;
  background-color: $grey;
}
.products__inner-box {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.products__inner-btn {
  text-align: center;
  margin-bottom: 60px;
  .mixitup-control-active {
    background-color: $red;
    color: #fff;
  }
  button {
    outline: none;
    font-size: 14px;
    font-weight: 500;
    padding: 12px 21px;
    border: none;
    background-color: #fff;
    color: $bg;
    cursor: pointer;
    & + button {
      margin-left: 5px;
    }
  }
}

.products__item {
  max-width: 442px;
  width: 100%;
  border: 1px solid #ebeeef;
  font-weight: 500;
  box-shadow: 0px 1px 2px 0px rgba(205, 214, 222, 0.75);
  margin-bottom: 30px;
  &-img {
    display: block;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 250px;
  }
  &-content {
    padding: 10px 30px;
    border-bottom: 1px solid #e7ecf2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 90px;
  }
  &-name {
    max-width: 310px;
  }
  &-title {
    font-size: 18px;
    line-height: 22px;
    color: $bg;
    margin-bottom: 5px;
    display: block;
  }
  &-category {
    font-size: 14px;
    line-height: 18px;
    color: $green;
    display: block;
  }
  &-price {
    font-size: 20px;
    font-weight: 700;
    color: $bg;
  }
  &-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    min-height: 70px;
  }
  &-author {
    display: flex;
    align-items: center;
    max-width: 245px;
    span {
      font-size: 14px;
    }
    .avatar {
      width: 30px;
      height: 30px;
      border-radius: 50%;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      display: inline-block;
      margin-right: 14px;
    }
  }

  &-star {
    span {
      color: $bg;
    }
  }
}

.products__bottom-btn {
  text-align: center;
  button {
    margin: 45px 5px 0;
    border: none;
    box-shadow: 0px 1px 3px 0px rgba(204, 216, 228, 0.75);
    padding: 20px 30px;
    color: #bg;
    font-size: 16px;
    background-color: #fff;
    cursor: pointer;
  }
}
// end products

// start product-slider
.product-slider {
  padding: 110px 0 120px;
  &__dots {
    text-align: center;
    margin-top: 37px;
    li {
      display: inline-block;
      & + li {
        margin-left: 7px;
      }
      &.slick-active {
        button {
          background-color: $green;
        }
      }
    }
    button {
      font-size: 0;
      border: none;
      cursor: pointer;
      outline: none;
      border-radius: 50%;
      width: 16px;
      height: 16px;
      background-color: rgb(232, 232, 232);
    }
  }
}

// end product-slider

// start advantages
.advantages {
  padding: 110px 0;
  background-color: $bg;
  &__title {
    color: #fff;
  }
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 85px;
  }
  &__item {
    max-width: 370px;
    text-align: center;
    padding: 0 20px;
    &-img {
      width: 113px;
      height: 113px;
      background-color: #fff;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 auto 25px;
      transition: all 0.5s;
    }
    &-title {
      font-size: 24px;
      font-weight: 500;
      color: #fff;
      margin-bottom: 25px;
      transition: all 0.5s;
    }
    &-text {
      color: #b0bec5;
    }
    &:hover {
      .advantages__item-title {
        color: $green;
      }
      .advantages__item-img {
        background-color: $green;
        g {
          fill: #fff;
        }
      }
    }
  }
}
// end advantages

// start author
.author {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 245px 0 290px;
  display: flex;
  justify-content: center;
  align-items: center;
  &__box {
    background-color: $green;
    padding: 70px 60px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__text {
    max-width: 265px;
    font-size: 30px;
    line-height: 36px;
    color: #fff;
    margin-right: 45px;
    span {
      font-weight: 700;
    }
  }
  &__link {
    width: 225px;
    background-color: #fff;
    padding: 25px 0 22px;
    text-align: center;
    color: $bg;
    font-size: 18px;
  }
}
// end author

// start tutorial
.tutorial {
  background-color: #fff;
  padding: 70px 0 120px;
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__item {
    max-width: 370px;
    width: 100%;
    &-img {
      min-height: 270px;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
    }
    &-title {
      background-color: #f8f8f8;
      padding: 30px 10px;
      text-align: center;
      font-size: 24px;
      font-weight: 700;
      color: $bg;
    }
  }
}

// end tutorial

@import "media";
