@import "vars";
@import "libs";
@import "global";
@import "fonts";

// start header
.header {
  &__top-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    background-color: #fff;
  }
  &__box {
    display: flex;
    align-items: center;
  }
  &__text {
    margin-left: auto;
    margin-right: 25px;
    span {
      color: $red;
    }
  }
  &__circle {
    width: 34px;
    height: 34px;
    background-color: #f5f5f5;
    border-radius: 50%;
    color: #a0a0a0;
    font-size: 14px;
    position: relative;
    & + .header__circle {
      margin-left: 15px;
    }
    span {
      position: absolute;
      height: 18px;
      width: 18px;
      color: #fff;
      font-family: "Open Sans", sans-serif;
      font-size: 11px;
      top: -7px;
      right: -7px;
      padding: auto;
      text-align: center;
      line-height: 18px;
      border-radius: 50%;
    }
    &--off {
      display: none;
    }
    &--active {
      color: $bg;
    }
    &:hover {
      color: $bg;
    }
    &::before {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
  &__btn-menu {
    display: none;
  }
  &__menu {
    background-color: $bg;
  }
  &__btn {
    padding: 9px;
    font-size: 12px;
    line-height: 12px;
    width: 72px;
    text-align: center;
    color: #fff;
    border-radius: 4px;
    & + a {
      margin-left: 7px;
    }
    &--off {
      display: none;
    }
  }
}

.drop-down {
  position: relative;
  height: 90px;
  margin-top: 57px;
  margin-left: 15px;
  &:hover {
    .drop-down__menu {
      visibility: visible;
      opacity: 1;
    }
  }
  &__menu {
    position: absolute;
    z-index: 1;
    width: 269px;
    top: 61px;
    right: 0;
    padding: 4px 0 8px;
    border: 1px solid #d5d5d5;
    background-color: #fff;
    transition: all 0.3s;
    visibility: hidden;
    opacity: 0;
  }
  &__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 14px 28px 20px 21px;
    line-height: 20px;
  }
  &__item + &__item {
    border-top: 1px solid #d5d5d5;
  }
  &__img {
    margin-right: 15px;
  }
  &__info {
    max-width: 225px;
    width: 100%;
    margin-right: 7px;
  }
  &__author {
    font-size: 12px;
    font-weight: 700;
    color: $bg;
  }
  &__thema {
    font-size: 11px;
    color: $green;
  }
  &__date {
    font-size: 10px;
    color: #707070;
  }
  &__link {
    font-size: 16px;
    color: #b0bec5;
    &--active {
      a {
        color: #ef6c00;
      }
    }
    a:hover {
      color: #ef6c00;
    }
  }
}

.notification {
  span {
    background-color: #fcb322;
  }
}
.message {
  span {
    background-color: #ef6c00;
  }
}
.basket {
  margin-right: 20px;
  span {
    background-color: #95c85a;
  }
  &__menu {
    right: 0;
    padding-top: 1px;
    padding-bottom: 12px;
  }
  &__item {
    display: flex;
    align-items: center;
    width: 100%;
    border-bottom: 1px solid #d5d5d5;
    padding: 20px 23px 23px;
    line-height: 20px;
  }
  &__img {
    margin-right: 15px;
  }
  &__name {
    font-weight: 500;
    color: $bg;
  }
  &__thema {
    font-size: 12px;
    color: $green;
  }
  &__price {
    font-size: 16px;
    font-weight: 500;
    color: #000;
  }
  &__total {
    padding: 19px 39px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    font-weight: 700;
    color: $bg;
  }
  &__btn {
    display: flex;
    justify-content: space-between;
    padding: 0 16px;
    width: 100%;
    a {
      color: #fff;
      min-width: 105px;
      padding: 12px;
      text-align: center;
      font-size: 14px;
      font-weight: 700;
      & + a {
        margin-left: 6px;
      }
    }
    &--green {
      background-color: $green;
    }
    &--red {
      background-color: $red;
    }
  }
}
.user {
  margin-top: 40px;
  margin-right: 25px;
  &:hover {
    .user__menu {
      padding: 20px;
      box-shadow: 0px 16px 20px 0px rgba(216, 216, 216, 0.75);
    }
  }
  &__menu {
    padding: 0 20px;
    top: 70px;
    right: -15px;
  }
  &__link {
    padding-right: 20px;
    position: relative;
  }
  &__link::before {
    position: absolute;
    top: 3px;
    right: 0;
    font-size: 16px;
    color: #707070;
  }
  &__inner {
    display: flex;
    align-items: center;
  }
  &__images {
    margin-right: 15px;
    width: 32px;
    height: 34px;
    border-radius: 50%;
  }
  &__info {
    font-size: 14px;
    line-height: 24px;
  }
  &__name {
    font-weight: 500;
    color: #222;
  }
  &__balance {
    font-weight: 700;
    color: $green;
  }
  &__menu {
    width: 158px;
    right: -15px;
    li + li {
      margin-top: 15px;
    }
    a {
      color: #546e7a;
      font-size: 12px;
      padding-left: 14px;
      position: relative;
    }
    a::before {
      position: absolute;
      color: $green;
      font-size: 14px;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
    }
  }
}
.menu {
  display: flex;
  align-items: center;
  height: 60px;
  &__item {
    display: inline-block;
    & + li {
      margin-left: 35px;
    }
  }
  &__link {
    font-weight: 500;
    color: #fff;
    font-size: 14px;
  }
}
// end header

// start search
.search {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 533px;
  &.page-search {
    min-height: 230px;
    .search__inner {
      padding: 55px 0 70px;
      &-text {
        margin-bottom: 20px;
      }
    }
  }
}
.search__inner {
  padding: 135px 0 100px;
  text-align: center;
  color: #fff;
  &-title {
    margin-bottom: 1px;
    h1 {
      font-size: 48px;
      font-weight: 700;
      line-height: 72px;
    }
  }
  &-text {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 45px;
    line-height: 30px;
  }
  &-form {
    max-width: 670px;
    margin: 0 auto;
    position: relative;
    input {
      width: 100%;
      display: block;
      box-shadow: 0px 1px 10px 0px rgba(124, 178, 64, 0.75);
      border-radius: 4px;
      height: 56px;
      border: none;
      font-size: 14px;
      font-weight: 500;
      padding-left: 25px;
      padding-right: 60px;
      &::placeholder {
        font-size: 14px;
        font-weight: 500;
        color: #90a4ae;
      }
    }
    button {
      border: none;
      position: absolute;
      background-color: transparent;
      right: 20px;
      top: 16px;
      z-index: 1;
      outline: none;
    }
  }
}
// end search

// start products
.products {
  padding: 110px 0;
  background-color: $grey;
}
.products__inner-box {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.products__inner-btn {
  text-align: center;
  margin-bottom: 60px;
  .mixitup-control-active {
    background-color: $red;
    color: #fff;
  }
  button {
    outline: none;
    font-size: 14px;
    font-weight: 500;
    padding: 12px 21px;
    border: none;
    background-color: #fff;
    color: $bg;
    cursor: pointer;
    & + button {
      margin-left: 5px;
    }
  }
}

.products__item {
  max-width: 442px;
  width: 100%;
  border: 1px solid #ebeeef;
  font-weight: 500;
  box-shadow: 0px 1px 2px 0px rgba(205, 214, 222, 0.75);
  margin-bottom: 30px;
  &-img {
    display: block;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 250px;
  }
  &-content {
    padding: 10px 30px;
    border-bottom: 1px solid #e7ecf2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 90px;
  }
  &-name {
    max-width: 310px;
  }
  &-title {
    font-size: 18px;
    line-height: 22px;
    color: $bg;
    margin-bottom: 5px;
    display: block;
  }
  &-category {
    font-size: 14px;
    line-height: 18px;
    color: $green;
    display: block;
  }
  &-price {
    font-size: 20px;
    font-weight: 700;
    color: $bg;
  }
  &-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    min-height: 70px;
  }
  &-author {
    display: flex;
    align-items: center;
    max-width: 245px;
    span {
      font-size: 14px;
    }
    .avatar {
      min-width: 30px;
      height: 30px;
      border-radius: 50%;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      display: inline-block;
      margin-right: 14px;
    }
  }
  &-star {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &-desc {
    color: #b0bec5;
    font-size: 12px;
    &--color {
      color: $bg;
    }
  }
}

.products__bottom-btn {
  text-align: center;
  button {
    margin: 45px 5px 0;
    border: none;
    box-shadow: 0px 1px 3px 0px rgba(204, 216, 228, 0.75);
    padding: 20px 30px;
    color: #bg;
    font-size: 16px;
    background-color: #fff;
    cursor: pointer;
  }
}
// end products

// start product-slider
.product-slider {
  padding: 110px 0 120px;
  &__dots {
    text-align: center;
    margin-top: 37px;
    li {
      display: inline-block;
      & + li {
        margin-left: 7px;
      }
      &.slick-active {
        button {
          background-color: $green;
        }
      }
    }
    button {
      font-size: 0;
      border: none;
      cursor: pointer;
      outline: none;
      border-radius: 50%;
      width: 16px;
      height: 16px;
      background-color: rgb(232, 232, 232);
    }
  }
}

// end product-slider

// start advantages
.advantages {
  padding: 110px 0;
  background-color: $bg;
  &__title {
    color: #fff;
  }
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 85px;
  }
  &__item {
    max-width: 370px;
    text-align: center;
    padding: 0 20px;
    &-img {
      width: 113px;
      height: 113px;
      background-color: #fff;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 auto 25px;
      transition: all 0.5s;
    }
    &-title {
      font-size: 24px;
      font-weight: 500;
      color: #fff;
      margin-bottom: 25px;
      transition: all 0.5s;
    }
    &-text {
      color: #b0bec5;
    }
    &:hover {
      .advantages__item-title {
        color: $green;
      }
      .advantages__item-img {
        background-color: $green;
        g {
          fill: #fff;
        }
      }
    }
  }
}
// end advantages

// start author
.author {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 245px 0 290px;
  display: flex;
  justify-content: center;
  align-items: center;
  &__box {
    background-color: $green;
    padding: 70px 60px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__text {
    max-width: 265px;
    font-size: 30px;
    line-height: 36px;
    color: #fff;
    margin-right: 45px;
    span {
      font-weight: 700;
    }
  }
  &__link {
    width: 225px;
    background-color: #fff;
    padding: 25px 0 22px;
    text-align: center;
    color: $bg;
    font-size: 18px;
  }
}
// end author

// start tutorial
.tutorial {
  background-color: #fff;
  padding: 70px 0 120px;
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__item {
    max-width: 370px;
    width: 100%;
    &-img {
      min-height: 270px;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
    }
    &-title {
      background-color: #f8f8f8;
      padding: 30px 10px;
      text-align: center;
      font-size: 24px;
      font-weight: 700;
      color: $bg;
    }
  }
}
// end tutorial

// start footer
.footer {
  flex: 0 0 auto;
  background-color: $bg;
  color: #b7c3c8;
  &__top {
    padding: 110px 0 90px;
  }
  &__inner {
    display: flex;
    justify-content: space-between;
  }
  &__title {
    font-family: "Raleway", sans-serif;
    font-size: 22px;
    font-weight: 700;
    color: #fff;
    padding-bottom: 30px;
    margin-bottom: 30px;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 1px;
      height: 3px;
      width: 51px;
      background-color: $green;
    }
  }
  &__col {
    max-width: 270px;
    width: 100%;
    &-menu {
      max-width: 220px;
    }
  }
  &__bottom {
    text-align: center;
    border-top: 1px solid #424d53;
    padding: 25px 10px 35px;
  }
  &__copyright {
    color: #919699;
  }
}
.footer__about {
  max-width: 280px;
  &-text {
    margin-bottom: 30px;
    line-height: 24px;
  }
  &-info {
    color: #fff;
    @include fLato700;
    position: relative;
    padding-left: 30px;
    &::before {
      position: absolute;
      top: 2px;
      left: 0;
      font-size: 18px;
      color: $green;
    }
  }
  &-adress {
    margin-bottom: 20px;
  }
}
.footer__list {
  &-item {
    display: block;
    padding-left: 21px;
    position: relative;
    margin-bottom: 15px;
    &::before {
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      font-size: 18px;
      color: $green;
    }
  }
}
.footer__socials {
  padding-top: 5px;
  margin-bottom: 40px;
  &-item {
    display: inline-block;
    margin-right: 7px;
  }
  a {
    width: 28px;
    height: 28px;
    background-image: url("../img/socials.png");
  }
  .link-facebook {
    background-position: -28px 0;
  }
  .link-twitter {
    background-position: 0 0;
  }
  .link-youtube {
    background-position: -56px 0;
  }
  .link-pinterest {
    background-position: -84px 0;
  }
  .link-linkedin {
    background-position: -112px 0;
  }
}
.footer__form {
  &-title {
    font-size: 20px;
    color: #fff;
    margin-bottom: 20px;
  }
  form {
    position: relative;
  }
  &-field {
    background-color: #2f3c43;
    padding: 0 50px 0 13px;
    border: none;
    display: block;
    width: 100%;
    height: 40px;
    font-size: 14px;
    color: #fff;
    &::placeholder {
      background-color: #2f3c43;
      font-size: 14px;
      color: #697378;
    }
  }
  &-btn {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 43px;
    background-color: $green;
    border: none;
    &::before {
      font-size: 20px;
      color: #fff;
    }
  }
}
// end footer

//start product-page
.product-page {
  display: flex;
  padding-bottom: 109px;
}
.aside {
  margin-right: 30px;
  width: 270px;
  &__item {
    padding: 25px 30px 30px;
    background-color: #fff;
    border: 1px solid #dedede;
    & + .aside__item {
      margin-top: 30px;
    }
  }
  &__title {
    font-weight: 700;
    font-size: 20px;
    border-bottom: 1px solid #dde3e8;
    padding-bottom: 15px;
    margin-bottom: 26px;
    color: $bg;
  }
}
.category__list {
  li {
    display: flex;
    justify-content: space-between;
    & + li {
      margin-top: 26px;
    }
    a {
      padding-left: 18px;
      color: $bg;
      position: relative;
      &::before {
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        font-size: 18px;
        color: $green;
      }
    }
    span {
      color: #90a4ae;
      margin-left: 10px;
    }
  }
}
.price {
  button {
    margin-top: 50px;
    width: 205px;
    padding: 15px 10px;
    color: #fff;
    font-weight: 500;
    text-align: center;
    border: none;
    background-color: $green;
    position: relative;
    cursor: pointer;
    &::before {
      position: absolute;
      top: 15px;
      left: 58px;
      font-size: 15px;
      color: #fff;
    }
  }
  .irs-min,
  .irs-max {
    display: none;
  }
  .irs--flat .irs-line {
    background-color: #f2f5f8;
    height: 5px;
  }
  .irs--flat .irs-bar {
    background-color: #37474f;
    height: 5px;
  }
  .irs--flat .irs-handle {
    width: 16px;
    height: 16px;
    border: 4px solid $green;
    background-color: #fff;
    border-radius: 50%;
  }
  .irs--flat .irs-handle {
    top: 20px;
  }
  .irs--flat .irs-handle > i:first-child {
    display: none;
  }
  .irs-from,
  .irs-to,
  .irs-single {
    top: 45px;
  }
  .irs--flat .irs-from,
  .irs--flat .irs-to,
  .irs--flat .irs-single {
    background-color: transparent;
    border-radius: 0;
    padding: 0;
    color: #78909c;
    font-size: 15px;
    &::before {
      display: none;
    }
  }
}
.aside__item {
  .top__link {
    padding: 16px 10px;
    display: block;
    background-color: $green;
    color: #fff;
    font-weight: 500;
    text-align: center;
  }
  .products__items {
    .products__item:last-child {
      border-bottom: none;
    }
  }
  .products__item {
    box-shadow: none;
    border: none;
    border-bottom: 1px solid #dde3e8;
    &-img {
      min-height: 120px;
    }
    &-price {
      font-size: 16px;
    }
    &-content {
      padding: 0;
      border-bottom: none;
      min-height: 75px;
    }
    &-title {
      font-size: 16px;
      font-weight: 700;
    }
    &-info {
      padding: 0;
      min-height: 0;
      margin-bottom: 27px;
    }
    .rate-star {
      margin-right: 0;
    }
    .jq-ry-container {
      padding: 0;
    }
  }
}
.product-page__filter {
  background-color: #fff;
  border: 1px solid #dcdcdc;
  padding: 0 20px;
  margin-bottom: 26px;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  button {
    cursor: pointer;
    border: none;
    background-color: transparent;
    color: #455a64;
    font-size: 16px;
    vertical-align: middle;
    outline: none;
    &.icon-sort-amount-desc {
      font-size: 14px;
    }
    &.icon-sort {
      font-size: 18px;
      color: #707070;
    }
    &.btn {
      color: #90a4ae;
    }
    &.btn--active {
      color: $green;
    }
  }
}
.product-page__content {
  width: 100%;
}
.product-page__items {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 30px;
  .products__item {
    max-width: 270px;
    background-color: #fff;
    transition: all 0.5s;
    border: none;
    &:hover {
      box-shadow: 0px 16px 20px 0px rgba(216, 216, 216, 0.75);
    }
    &-title {
      font-size: 16px;
      font-weight: 700;
    }
    &-img {
      min-height: 180px;
    }
    &-text {
      display: none;
    }
    &-sales {
      display: none;
    }
    &-content {
      padding: 10px 20px;
    }
    &-info {
      padding: 10px 20px;
      min-height: 65px;
    }
    &-list {
      display: none;
    }
    .rate-star {
      margin-right: 5px;
    }
    .jq-ry-container {
      padding: 0;
    }
  }
  .products__item.list {
    max-width: 100%;
    .products__item-img {
      width: 240px;
      float: left;
    }
    .products__item-content {
      padding: 21px 29px 17px;
    }
    .products__item-info {
      padding: 10px 29px;
      min-height: 59px;
    }
    .products__item-name {
      max-width: 500px;
    }
    .products__item-text {
      display: block;
      font-size: 14px;
      margin-top: 8px;
      color: #70838d;
    }
    .products__item-price {
      text-align: center;
      font-size: 30px;
      margin-top: 10px;
    }
    .products__item-sales {
      display: block;
      color: #aeb4bb;
      font-size: 13px;
      margin-top: 15px;
    }
    .icon-comment-o,
    .icon-heart-o {
      display: inline-block;
      padding-left: 50px;
      font-size: 12px;
      border-left: 1px solid #000;
      position: relative;
      border-left: 1px solid #d1d4d8;
    }
    .icon-comment-o:before,
    .icon-heart-o:before {
      position: absolute;
      color: $green;
      font-size: 16px;
      top: 50%;
      transform: translateY(-50%);
      left: 20px;
    }
    .icon-comment-o {
      border-right: 1px solid #aeb4bb;
      padding-right: 30px;
    }
    .products__item-list {
      display: flex;
      justify-content: space-between;
      align-items: center;
      color: #b0bec5;
      span {
        color: $bg;
      }
    }
    .products__item-star {
      margin-left: auto;
      padding-right: 30px;
      border-right: 1px solid #aeb4bb;
    }
  }
}

.pagination {
  padding-top: 30px;
  &__list {
    li {
      display: inline-block;
      & + li {
        margin-left: 6px;
      }
    }
    a,
    span {
      box-shadow: 0px 1px 2px 0px rgba(205, 214, 222, 0.75);
      width: 43px;
      height: 38px;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #fff;
      font-size: 16px;
      color: $bg;
      font-weight: 500;
      cursor: pointer;
      &.active {
        background-color: $red;
        color: #fff;
      }
    }
  }
}
//end product-page

// start product-details
.product-details {
  display: flex;
  &__content {
    max-width: 870px;
    margin-right: 31px;
  }
  &__aside {
    margin-right: 0;
  }
}
.product {
  padding-bottom: 100px;
  &__img-box {
    display: flex;
    min-height: 458px;
    padding: 18px 19px 16px;
    border: 1px solid #dfdfdf;
    background-color: #fff;
  }
  &__img {
    min-width: 100%;
    min-height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  &__info {
    margin-top: 30px;
  }
  &__info-title {
    font-weight: 700;
    font-size: 30px;
    line-height: 40px;
    color: $bg;
    margin-bottom: 20px;
  }
  &__info-text {
    margin-top: 20px;
    margin-bottom: 40px;
    font-size: 16px;
    color: #707070;
  }
  &__box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 55px;
  }
  &__link {
    a {
      font-size: 16px;
      font-weight: 500;
      line-height: 55px;
      text-align: center;
      color: $grey;
      padding: 0 25px;
      & + a {
        margin-left: 18px;
      }
    }
    &-prewiev {
      background-color: $red;
    }
    &-screen {
      background-color: #455a64;
      padding: 0 33px;
    }
    &-doc {
      background-color: $green;
    }
  }
  &__socials {
    a {
      width: 54px;
      height: 50px;
      position: relative;
      &::before {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 18px;
        color: #fff;
      }
      & + a {
        margin-left: 3px;
      }
      &.icon-facebook {
        background-color: #6370b6;
      }
      &.icon-twitter {
        background-color: #64b5f6;
      }
      &.icon-linkedin {
        background-color: #4f71ce;
      }
      &.icon-pinterest-p {
        background-color: #d32f2f;
      }
    }
  }
  &__more-title {
    font-size: 18px;
    font-weight: 500;
    color: $bg;
    padding: 18px 25px;
    border: 1px solid #dfdfdf;
    background-color: #fff;
    margin-bottom: 28px;
  }
  &__more-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }
  &__tabs {
    border: 1px solid #dfdfdf;
    margin-bottom: 52px;
    background-color: #fff;
  }
}
.product-mini {
  display: flex;
  max-width: 270px;
  width: 100%;
  max-height: 90px;
  background-color: #fff;
  box-shadow: 0px 1px 2px 0px rgba(205, 214, 222, 0.75);
  margin-bottom: 28px;
  &__img {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100px;
    min-height: 100%;
  }
  &__info {
    padding: 15px 20px 5px;
    color: $bg;
  }
  &__info-title {
    font-size: 14px;
    font-weight: 500;
  }
  &__info-thema {
    color: $green;
    font-size: 12px;
  }
  &__info-price {
    font-size: 18px;
    font-weight: 700;
  }
}
.tabs {
  display: flex;
  .tab {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #dfdfdf;
    padding: 20px;
    font-size: 16px;
    color: #70838d;
    cursor: pointer;
    & + span {
      border-left: 1px solid #dfdfdf;
    }
    &.active {
      font-weight: 500;
      color: $bg;
      border-bottom: 3px solid $green;
    }
  }
}
.tab-item {
  height: 262px;
  padding: 30px 30px 50px;
  font-size: 16px;
  line-height: 36px;
  color: #707070;
  display: none;
  &:first-child {
    display: block;
  }
  &__menu {
    column-count: 2;
    li {
      padding-left: 20px;
      position: relative;
      &::before {
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        color: $green;
        font-size: 18px;
      }
    }
  }
}
.product-price {
  &__box {
    margin-top: 30px;
    margin-bottom: 28px;
    display: flex;
    justify-content: space-between;
    &-price {
      font-size: 22px;
      font-weight: 500;
      color: $red;
    }
  }
  &__link {
    a {
      cursor: pointer;
      padding: 15px 24px;
      text-align: center;
      font-size: 16px;
      font-weight: 700;
      color: #fff;
      background-color: #546e7a;
      box-shadow: 0px 1px 2px 0px rgba(69, 90, 100, 0.75);
      display: block;
      width: 100%;
      position: relative;
      & + a {
        margin-top: 7px;
      }
      &::before {
        font-weight: 400;
        padding-right: 8px;
      }
    }
    .icon-shopping-cart {
      background-color: $green;
    }
    .icon-heart-o {
      background-color: #42a5f5;
    }
  }
}
.product-author {
  &__box {
    display: flex;
    margin-bottom: 24px;
  }
  &__img {
    margin-right: 14px;
  }
  &__name {
    font-size: 18px;
    line-height: 1;
    color: $bg;
    margin-bottom: 10px;
  }
  &__link {
    padding: 5px 10px;
    border: 1px solid #d3d3d3;
    font-size: 13px;
    color: #707070;
  }
  &__list {
    li {
      display: inline-block;
      width: 34px;
      height: 37px;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      position: relative;
      cursor: pointer;
      &::before {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #fff;
        font-size: 18px;
      }
      & + li {
        margin-left: 4px;
      }

      &.icon-meh-o {
        background-image: url(../img/awards/awards-orange.png);
      }
      &.icon-pagelines {
        background-image: url(../img/awards/awards-red.png);
      }
      &.icon-bolt {
        background-image: url(../img/awards/awards-blue.png);
      }
      &.icon-foursquare {
        background-image: url(../img/awards/awards-green.png);
      }
      &.icon-jpy {
        background-image: url(../img/awards/awards-grey.jpg);
      }
    }
  }
}
.product-sales {
  padding: 20px;
  padding-left: 28px;
  font-size: 16px;
  color: #707070;
  font-weight: 300;
  span {
    font-size: 20px;
    font-weight: 700;
    color: $bg;
    padding-left: 40px;
    padding-right: 13px;
    position: relative;
    &::before {
      position: absolute;
      left: 0;
      font-weight: 400;
      color: #a6b5bb;
    }
  }
}
.product-info {
  &__list {
    font-size: 14px;
    color: $bg;
    font-weight: 500;
    li + li {
      margin-top: 15px;
    }
    span {
      color: #70838d;
      font-weight: 400;
    }
  }
}
// end product-details

// start 404
.page-404,
.about {
  border: 1px solid #dedede;
  margin-bottom: 150px;
  &__head{
    border-bottom: 1px solid #dedede;
    background-color: #fff;
    font-size: 24px;
    font-weight: 500;
    color: #444444;
    padding: 24px 28px 26px 28px;
  }
  &__content {
    text-align: center;
    background-color: $green;
    color: #fff;
  }
  &__404 {
    padding-top: 70px;
    line-height: 300px;
    font-size: 300px;
    font-weight: 800;
    font-family: 'OpenSans', sans-serif;
    padding-right: 157px;
    position: relative;
    &::after {
      content: '';
      position: absolute;
      margin-left: 20px;
      width: 157px;
      height: 301px;
      background-image: url('../img/404-man.png');
    }
  }
  &__title {
    font-size: 30px;
    font-weight: 400;
    letter-spacing: 10px;
    font-family: 'OpenSans', sans-serif;
    margin-top: 30px;
    margin-bottom: 25px;
  }
  &__text {
    font-size: 18px;
    font-weight: 500;
    max-width: 535px;
    margin: 0 auto;
    margin-bottom: 50px;
  }
  &__link {
    border: 2px solid #fff;
    border-radius: 7px;
    padding: 20px 30px;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #fff;
    margin-bottom: 100px;
  }
}
// end 404

// start about
.about {
  &__content {
    background-color: #fff;
    text-align: left;
    color: #444444;
    padding: 0 60px 50px 50px;
  }
  &__box {
    margin-top: 45px;
  }
  &__box-title {
    font-size: 20px;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
    letter-spacing: normal;
    margin-bottom: 20px;
  }
  &__box-text {
    max-width: 100%;
    color: #707070;
    font-size: 15px;
  }
}
// end about
@import "media";
